<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-9">
        <meta name="viewport" content="width=device-width, initial-scale=0">
        <title>RideDot</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1> {{ titulo }} </h1>
            </div>

            <form action="/rota_inserir" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="cidade_origem">Cidade de Origem</label>
                    <input type="text" id="cidade_origem" name="cidade_origem" class="form-control">
                </div>
                <div class="form-group">
                    <label for="cidade_destino">Cidade de Destino</label>
                    <input type="text" id="cidade_destino" name="cidade_destino" class="form-control">
                </div>
                <div class="form-group">
                    <label for="data_viagem">Data da viagem</label>
                    <input type="date" id="data_viagem" name="data_viagem" class="form-control">
                </div>
                <div class="form-group">
                    <label for="horario_viagem">Horário da viagem</label>
                    <input type="text" id="horario_viagem" name="horario_viagem" class="form-control">
                </div>
                <div class="form-group">
                    <label for="preco_viagem">Preço da Viagem</label>
                    <input type="number" id="preco_viagem" name="preco_viagem" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-salvar">Criar carona</button>
            </fieldset>
            </form>
        </div>
 </body>
</html>
