<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>RideDot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/fontAwesome.css">
        <link rel="stylesheet" href="../static/css/hero-slider.css">
        <link rel="stylesheet" href="../static/css/owl-carousel.css">
        <link rel="stylesheet" href="../static/css/templatemo-style.css">
        <link rel="stylesheet" href="../static/css/lightbox.css">
        <link rel="stylesheet" href="../static/css/margem_form.css">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
{% include 'header.html'%}
<div class="parallax-content baner-content3" id="busca_carona" >
    <div class="container">
        <form action="/buscar_carona" method="post">
            <fieldset>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="cidade_origem" style="color: #dddddd">Cidade de Origem</label>
                        <input type="text" class="form-control" id="cidade_origem" name="cidade_origem"
                               placeholder="Guarulhos" required>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="cidade_destino" style="color: #dddddd">Cidade de Destino</label>
                        <input type="text" class="form-control" id="cidade_destino" name="cidade_destino"
                               placeholder="Alfenas" required>
                    </div>
                </div>
            </fieldset>
            <br>
            <br>
             <div class="form-row">
                    <span class="col-md-4 mb-3"></span>
                    <button type="submit" class="btn btn-primary col-md-4 mb-2 btn-salvar">Buscar Carona</button>
             </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        {% if resultado %}
            <div class="table-responsive col-md-12">
                <table class="table table-striped table-sm">
                <thead>
                <tr>
                        <th style="color: #dddddd">Inscrever</th>
                        <th style="color: #dddddd">cidade_origem</th>
                        <th style="color: #dddddd">cidade_destino</th>
                        <th style="color: #dddddd">numero_vaga</th>
                        <th style="color: #dddddd">data</th>
                        <th style="color: #dddddd">numero_telefone</th>
                        <th style="color: #dddddd">usuario_ofertante</th>
                        <th style="color: #dddddd">valor</th>
                </tr>
                </thead>
                    <tbody bgcolor="#f0f8ff">
                    {% for iten in resultado %}
                    <tr>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary"
                                   href="{{ url_for("salvar_inscricao" ,id=iten.id) }}" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-plus-square">
                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="12" y1="8" x2="12" y2="16"></line>
                                <line x1="8" y1="12" x2="16" y2="12"></line>
                            </svg>
                        </td>
                        <td>{{ iten.cidade_origem }}</td>
                        <td>{{ iten.cidade_destino }}</td>
                        <td>{{ iten.numero_vaga }}</td>
                        <td>{{ iten.data }}</td>
                        <td>{{ iten.numero_telefone }}</td>
                        <td>{{ iten.usuario_ofertante }}</td>
                        <td>{{ iten.valor }}</td>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
{% endif %}
    </div>
</div>
{% include 'template.html' %}
</body>
</html>
