<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>RideDot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/fontAwesome.css">
        <link rel="stylesheet" href="../static/css/hero-slider.css">
        <link rel="stylesheet" href="../static/css/owl-carousel.css">
        <link rel="stylesheet" href="../static/css/templatemo-style.css">
        <link rel="stylesheet" href="../static/css/lightbox.css">
        <link rel="stylesheet" href="../static/css/margem_form.css">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
{% include 'header.html'%}
<div class="parallax-content baner-content2" id="cria_carona" >
    <div class="container">
    <form action="/rota_inserir" method="post">
    <fieldset>
    <div class="form-row">
        <div class="form-group col-md-6 mb-3 m">
            <label class="" for="cidade_origem"><span style="color: #dddddd">Cidade de Origem</span></label>
            <input type="text" class="form-control" id="cidade_origem" name="cidade_origem" placeholder="Guarulhos" required>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="estado_origem"><span style="color: #dddddd">Estado</span></label>
            <input type="text" class="form-control" id="estado_origem" name="estado_origem" placeholder="São Paulo" required>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="cep_origem"><span style="color: #dddddd">CEP</span></label>
            <input type="text" class="form-control" id="cep_origem" name="cep_origem" placeholder="00000-000">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-3">
            <label for="cidade_destino"><span style="color: #dddddd">Cidade de Destino</span></label>
            <input type="text" class="form-control" id="cidade_destino" name="cidade_destino" placeholder="Alfenas" required>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="estado_destino"><span style="color: #dddddd">Estado</span></label>
            <input type="text" class="form-control" id="estado_destino" name="estado_destino" placeholder="Minas Gerais" required>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="cep_destino"><span style="color: #dddddd">CEP</span></label>
            <input type="text" class="form-control" id="cep_destino" name="cep_destino" placeholder="00000-000">
        </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6 mb-3">
        <label for="data"><span style="color: #dddddd">Insira a data e hora da viagem</span></label>
        <input type="datetime" id="data" name="data" class="form-control" placeholder="dd/mm/yyyy hh:mm:ss" required>
    </div>

    <div class="form-group col-md-3 mb-2">
        <label for="preco_viagem"><span style="color: #dddddd">Insira o preço da viagem</span></label>
        <input type="text" id="preco_viagem" name="preco_viagem" class="form-control" placeholder="10,00" required>
    </div>

    <div class="form-group col-md-3 mb-2">
        <label for="telefone"><span style="color: #dddddd">Insira o telefone para contato</span></label>
        <input type="text" id="telefone" name="telefone" class="form-control" placeholder="(00) 0000-0000" required>
    </div>
    </div>

    <div class="form-group col-md-12 mb-6">
      <select class="form-control" for="numero_vagas" name="numero_vagas">
        <option selected><span style="color: #dddddd">Escolha o número de vagas</span></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="3">9</option>
        <option value="4">10</option>
      </select>
    </div>

    <div class="form-row">
    <span class="col-md-4 mb-1"></span>
    <button type="submit" class="btn btn-primary btn-salvar col-md-4 mb-2"><span style="color: #dddddd">Criar carona</span></button>
    </div>
    </fieldset>
    </form>
    </div>
    <br><br><br><br><br><br><br><br><br>

    {% extends 'template.html' %}
</div>
</body>
</html>
