{% extends 'template.html' %}

{% include 'header.html' %}

{% block conteudo %}
    <div class="parallax-content baner-content" id="home" >
        <div class="container">
            <div class="text-content">
                <h2><em>RideDot</em></h2>
                <p>Caronas de confiança para o seu destino</p>
                <div class="primary-white-button">
                    <form action="{{ dados['url_form'] }}" method="post">
                        <button type="submit" class="btn btn-primary btn-salvar">Oferecer carona</button>
                    </form>
                </div>
                <div class="primary-white-button">
                    <form action="{{ dados['url_buscar'] }}" method="post">
                        <button type="submit" class="btn btn-primary btn-salvar">Buscar carona</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section id="about" class="page-section">
        <div class="container">
        <h3><em>Caronas Ofertadas</em></h3>
            {% if ofertadas %}
            <div class="table-responsive col-md-12">
                <table class="table table-striped table-sm">
                <thead>
                <tr>
                        <th style="color: #dddddd">cidade_origem</th>
                        <th style="color: #dddddd">cidade_destino</th>
                        <th style="color: #dddddd">numero_vaga</th>
                        <th style="color: #dddddd">data</th>
                        <th style="color: #dddddd">numero_telefone</th>
                        <th style="color: #dddddd">usuario_ofertante</th>
                        <th style="color: #dddddd">valor</th>
                </tr>
                </thead>
                    <tbody bgcolor="#f0f8ff">
                    {% for iten in ofertadas %}
                    <tr>
                        <td>{{ iten.cidade_origem }}</td>
                        <td>{{ iten.cidade_destino }}</td>
                        <td>{{ iten.numero_vaga }}</td>
                        <td>{{ iten.data }}</td>
                        <td>{{ iten.numero_telefone }}</td>
                        <td>{{ iten.usuario_ofertante }}</td>
                        <td>{{ iten.valor }}</td>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
    </section>

    <div id="contact-us">
        <div class="container" >
        <h3><em>Caronas Inscrias</em></h3>
            {% if inscrita %}
            <div class="table-responsive col-md-12">
                <table class="table table-striped table-sm">
                <thead>
                <tr>
                        <th style="color: #dddddd">cidade_origem</th>
                        <th style="color: #dddddd">cidade_destino</th>
                        <th style="color: #dddddd">numero_vaga</th>
                        <th style="color: #dddddd">data</th>
                        <th style="color: #dddddd">numero_telefone</th>
                        <th style="color: #dddddd">usuario_ofertante</th>
                        <th style="color: #dddddd">valor</th>
                </tr>
                </thead>
                    <tbody bgcolor="#f0f8ff">
                    {% for iten in inscrita %}
                    <tr>
                        <td>{{ iten.cidade_origem }}</td>
                        <td>{{ iten.cidade_destino }}</td>
                        <td>{{ iten.numero_vaga }}</td>
                        <td>{{ iten.data }}</td>
                        <td>{{ iten.numero_telefone }}</td>
                        <td>{{ iten.usuario_ofertante }}</td>
                        <td>{{ iten.valor }}</td>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
